body {
	background-color: #b5e8da;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	color: blue;
}

input {
	border: 2px solid #cf5f5f;
	border-radius: 4px;
	text-align: left;
	font-size: 18px;
	margin-bottom: 10px;
}

select {
	border: 2px solid #cf5f5f;
	border-radius: 4px;
	text-align: left;
	font-size: 18px;
}

form {
	display: inline-block;
}

td {
	font-size: 18px;
	color: #291a57;
	font-weight: bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

input[type=submit] {
	background-color: #fff2c9;
}