<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/data/mongo
           http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd">

	<!-- application properties file -->
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/application.properties</value>
		</property>
	</bean>


	<!-- Step 3: Add support for component scanning -->
	<context:component-scan
		base-package="edu.project" />

	<!-- Step 4: Add support for conversion, formatting and validation support -->
	<mvc:annotation-driven />

	<mongo:mongo-client id="mongo" host="${db.host}"
		port="${db.port}">

		<mongo:client-options
			connections-per-host="${db.connectionPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${db.threadsAllowedTblockForConnectionMultiplier}" />
	</mongo:mongo-client>

	<mongo:db-factory dbname="${db.name}"
		host="${db.host}" mongo-ref="mongo" port="${db.port}" />

	<bean id="mongoTemplate"
		class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoConverter"
			ref="mappingConverter" />
		<constructor-arg name="mongoDbFactory"
			ref="mongoDbFactory" />
	</bean>
	<bean id="mongoTypeMapper"
		class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
		<constructor-arg name="typeKey">
			<null />
		</constructor-arg>
	</bean>

	<bean id="mongoMappingContext"
		class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />

	<bean id="mappingConverter"
		class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
		<constructor-arg name="mongoDbFactory"
			ref="mongoDbFactory" />
		<constructor-arg name="mappingContext"
			ref="mongoMappingContext" />
		<property name="typeMapper" ref="mongoTypeMapper"></property>
	</bean>


	<!-- Add support for reading web resources: css, images, js, etc ... -->
	<mvc:resources mapping="/resources/**"
		location="/WEB-INF/resources"></mvc:resources>
</beans>